section {
  margin: 10px;
  padding: 10px;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100%;
  margin-top: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 20%;
  height: 200%;
  padding: 30px;
  border: 2px solid #ccc;
  background-color: mediumseagreen;
}

.pinLogin {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
}

#account {
  display: none;
}

#deposit {
  margin: 10px;
  padding: 10px;
  background-color: lemonchiffon;
}

#deposit-btn {
  margin: 10px;
  padding: 10px;
  background-color: skyblue;
}

#withdraw {
  margin: 10px;
  padding: 10px;
  background-color: lemonchiffon;
}

#withdraw-btn {
  margin: 10px;
  padding: 10px;
  background-color: orange;
}

#balance {
  align-items: center;
  color: whitesmoke;
}

#message {
  align-items: center;
  color: white;
}

input {
  display: block;
  text-align: center;
  margin: auto;
}
